[alias]
        # Color graph log view
        graph = log --graph --color

[filter "lfs"]
    	clean = git-lfs clean -- %f
    	smudge = git-lfs smudge -- %f
    	process = git-lfs filter-process
    	required = true

[color]
    	ui = auto

[core]
        editor = vim

