[alias]
    graph = log --graph --color
    sig = log --show-signature

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[color]
    ui = auto

[core]
    editor = vim

[commit]
    gpgsign = true
